# IntelliJ
.idea/
*.iml
out/

# OS生成ファイル
.DS_Store
Thumbs.db

# 環境変数・シークレット
.env
*.pem
id_ed25519
id_ed25519.pub

# Dockerのビルド成果物・一時ファイル
docker-compose.override.yml

# ログ
*.log

# Java / Maven
target/
*.class
*.jar
*.war

# Cursor
.cursor/